@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

.container {
  font-size: 2.2rem;
  width: 80vw;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 3rem;
  width: 28%;
  display: block;
  height: 5px;
  background-color: #cda8ed;
  bottom: -8px;
}

.contact {
  display: flex;
  gap: 15rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
}
.iconContainer img {
  height: 40rem;
  width: 40rem;
}

.personalContainer {
  display: flex;
  flex-direction: column;
}

.personalContainer p {
  color: #777;
}

.personal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.personal img {
  height: 2.4rem;
  width: 2.4rem;
}

.personalInfo {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.button {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.4rem 4rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.739);
  cursor: pointer;
  transition: all 400ms;
  color: #222;
}

.button:hover {
  background-color: #cda8ed;
  color: #fff;
}

.buttonLink {
  display: inline-block;
  width: 15rem;
  margin-top: 2rem;
}

@media (max-width: 66rem) {
  .container {
    font-size: 2rem;
  }

  .personalInfo {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 51rem) {
  .contact {
    flex-direction: column;
  }

  .personalInfo {
    flex-direction: row;
    gap: 5rem;
  }
  .button {
    font-size: 2rem;
    padding: 1.2rem 3.6rem;
  }
}
