.hero {
  height: 80vh;
  width: 100vw;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.info {
  font-size: 3.4rem;
  letter-spacing: 1px;
  width: 50vw;
  text-align: center;
  margin: 10rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 4.2rem;
}

.info h6 {
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 4rem;
}

.button {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.4rem 4rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.739);
  margin-top: 2rem;
  cursor: pointer;
  transition: all 400ms;
}

.contact {
  background-color: #cb8ce3;
  color: #fdf4dc;
  border: none;
}

.button:hover {
  transition: all 400ms;
  transform: scale(103%);
}

.icons {
  display: inline-flex;
  flex-direction: column;
  gap: 3rem;
  border: 3px solid rgba(0, 0, 0, 0.739);
  border-left: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem 1rem 1rem 0.5rem;
  position: absolute;
  top: 30vh;
}

.icon {
  transition: all 400ms;
  border-radius: 3rem;
  padding: 1rem;
}

.icon:hover {
  transition: all 400ms;
  background-color: #ca8ce365;
  transform: scale(105%);
}

.icon img {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 74rem) {
  .info {
    font-size: 3rem;
  }
}

@media (max-width: 66rem) {
  .info {
    font-size: 2.8rem;
  }

  .button {
    font-size: 2.1rem;
    padding: 1.3rem 3.9rem;
  }
}

@media (max-width: 56rem) {
  .info {
    font-size: 2.6rem;
  }

  .info h1 {
    font-size: 3.8rem;
  }

  .button {
    font-size: 2rem;
    padding: 1.2rem 3.6rem;
  }
}

@media (max-width: 40rem) {
  .info {
    font-size: 2.4rem;
  }

  .info h1 {
    font-size: 3.6rem;
  }

  .button {
    font-size: 1.8rem;
    padding: 1.2rem 3.6rem;
  }

  .hero {
    height: 60vh;
  }

  .icons {
    gap: 2rem;
  }

  .icon img {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 32rem) {
  .info {
    font-size: 2.2rem;
  }

  .info h1 {
    font-size: 3.4rem;
  }

  .button {
    font-size: 1.6rem;
    padding: 1.2rem 3.6rem;
  }

  .hero {
    height: 60vh;
  }

  .icons {
    gap: 1.8rem;
  }

  .icon img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
