@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

.name {
  font-family: "Rancho", cursive;
  font-size: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem 10rem;
  letter-spacing: 1px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: #cb8ce3;
}

@media (max-width: 74rem) {
  nav {
    font-size: 1.9rem;
  }

  ul {
    gap: 7rem;
  }
}

@media (max-width: 66rem) {
  nav {
    font-size: 1.8rem;
  }

  ul {
    gap: 6rem;
  }

  .name {
    font-size: 3.4rem;
  }
}

@media (max-width: 56rem) {
  nav {
    font-size: 1.6rem;
  }

  ul {
    gap: 4rem;
  }

  .name {
    font-size: 3.2rem;
    transform: translateX(-5rem);
  }
}

@media (max-width: 40rem) {
  ul {
    flex-direction: column;
    transform: translateX(3rem);
  }

  .name {
    font-size: 3rem;
    transform: translate(-5rem, -7rem);
  }
}
